*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


/*ESRILOS NAV*/
nav{
  display: flex;
  justify-content: space-between;
  background-color: #05163d;
  padding: 7px;
  align-items: center;
  font-size: 20px;
}

nav img {
  width: 100px;
}

nav ul{
  display: flex;
  gap: 250px;
}

nav button{
  font-size: 25px;
  background-color: #05163d;
  border-radius: 5px;
}
nav button:hover{
  background-color: #0a3158;
  cursor: pointer;
}

/*ESTILOS MAIN*/
main{
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  background-color:rgb(14, 14, 13);
  padding: 10px;
}
.mainFormulario{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardConteiner{
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card ul{
  width: 100%;
}

.card ul li{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnCont{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
}


h2{
  font-size: 20px;
}
#sucursales{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.map{
  width: 70%;
  height: 90%;
}

.detailConteiner{
  width: 50%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}
.detailConteiner strong{
  font-size: 35px;
}
.formularioFinalizacion{
  gap: 20px;
  width: 85%;
  height: 90dvh;
  background-color: #05163d;
}

/*ESTILOS FOOTER*/
footer{
  background-color: #0a3158;
  display: flex;
  justify-content: center;
  padding: 4px;
  font-size: 12px;
}
