*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a{
  color: black;
}

/*ESRILOS NAV*/
nav{
  display: flex;
  justify-content: space-between;
  background-color: #cedf99;
  padding: 7px;
  align-items: center;
  font-size: 20px;
}

nav img {
  width: 100px;
}

nav ul{
  display: flex;
  gap: 250px;
}

nav button{
  font-size: 25px;
  background-color: rgba(128, 128, 128, 0.651);
  border-radius: 5px;
}

/*ESTILOS MAIN*/
main{
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  background-color:#eff4dd;
}
.cardConteiner{
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}

.card ul{
  width: 100%;
}

.card ul li{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnCont{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
}
.btnDetail{
  padding: 3px;
  border-radius: 3PX;
  background-color: #cedf99;
}
.btnDetail:hover{
  background-color: white;
}
h2{
  font-size: 20px;
}
.detailConteiner{
  width: 50%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}
.detailConteiner strong{
  font-size: 35px;
}

/*ESTILOS FOOTER*/
footer{
  background-color: #bdd476;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 18px;
}