*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a{
  color: black;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: grey;
  padding: 7px;
  align-items: center;
  font-size: 20px;
}

nav img {
  width: 100px;
}

nav ul{
  display: flex;
  gap: 250px;
}

nav button{
  font-size: 25px;
  background-color: rgba(128, 128, 128, 0.651);
  border-radius: 5px;
}

main{
  width: 100%;
}